[core]
  editor = ${VISUAL} +'set cc=72'
  excludesfile = ~/.gitignore.global
  autocrlf = input
  whitespace = -trailing-space

[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

[merge]
  tool = meld
[mergetool "meld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[include]
  path = ~/.gitconfig.aliases
  path = ~/.gitconfig.local

[grep]
	extendedRegexp = true
