[user]
  email = kowen@redhat.com
  name = Kevin Owen
[core]
  editor = ${VISUAL} +'set cc=72'
  excludesfile = ~/.gitignore.global

[url "git@github.com:"]
  insteadOf = gh:
[url "git://git.suckless.org/"]
  insteadOf = sl:

[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

[merge]
  tool = meld
[mergetool "meld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[include]
  path = ~/.gitconfig.aliases
  path = ~/.gitconfig.local
